/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-image: url(/assets/four-crests.jpg);
}

.whiteBackground {
    background: white;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.roundedCorners {
    border-radius: 15px;
}

.noBottomMargin {
    margin-bottom: 0;
}

.noTopMargin {
    margin-top: 0;
}

.inlineDisplay {
    display: inline;
}

.boldLinks {
    font-weight: bold;
}

.navbar-nav li a {
    color: white !important;
}

.btn {
    margin-right: 0.8em;
} 

.jumbotron {
    background-size: 100% 100%;
    background-image: url(/assets/parchment.jpeg);
}

.jumbotron h1 {
    font-family: "Copperplate Gothic Light", Copperplate, fantasy;
}

.whiteText {
    color: white !important;
}

.alignCenter {
    text-align: center;
}

body, a:hover {
    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress !important;
} 

.magic:before {
    content: "Weasleys' Wizard Wheezes";
}
.magic:hover:before {
    content: "I solemnly swear that I am up to no good";
    font-size: 30px;
    font-family: "Papyrus";
}
