<tr>
    <td><%= link_to line_item.product.product_name, line_item.product %></td>
    <td>-&nbsp;<%= line_item.quantity %>&nbsp;+</td>
    <td><%= line_item.total_price %></td>
    <td><%= number_to_currency(line_item.convert_to_muggle(line_item.total_price)) %></td>
</tr>